.title {
    background-color: #52DEC3;
    height: 200px;
}

.introduction {
    background-color: #52CBDE;
    height: 200px;
}

.content {
    background-color:  #529FDE;
    height: 400px;
}

.footer {
    background-color: #5273DE;
    height: 200px;
}

.text {
    text-shadow: 1px 1px 0 grey;
    text-decoration: underline;
    text-decoration-color: red;
}

.highlight {
    color: purple;
    font-weight: bold;
}